# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/
.conda/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.db
*.sqlite
*.sqlite3
*.log
*.html
# OS specific
.DS_Store
Thumbs.db

# Backup files
*~
*.bak 

#thesis negligible files
outputs/thesis_full_runs/*
outputs/thesis_recap_check/
outputs/docx_review_*/
figures/pre_post_behavior_profiles/*
build/ tmp/ out/ *.egg-info/
__pycache__/ *.pyc .pytest_cache/
scripts/node_modules/ .conda/